@model TradeFinder.ViewModels.TradeFilterView

@{
    ViewBag.Title = "Index";
}

<h2>Trades</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.LeagueId)
    @Html.HiddenFor(m => m.Trades)

    <div id="divTradeFilter" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Filters</h3>
        </div>
        <div class="panel-body form-inline">
            @Html.DropDownListFor(model => model.MyTeamId, (SelectList)ViewBag.MyTeamOptions, new { @class = "form-control" })
            @Html.DropDownListFor(model => model.OtherTeamId, (SelectList)ViewBag.OtherTeamOptions, "-- All Teams --", new { @class = "form-control" })
            @*<span class="input-group-btn">*@
                <input type="submit" value="Find Trades" class="btn btn-success" />
            @*</span>*@
        </div>
    </div>

    <div id="divTrades" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Trades</h3>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-hover table-responsive table-striped">
                <tr>
                    <th>Lost Players</th>
                    <th>Gained Players</th>
                    <th>My Points Gained</th>
                    <th>Their Points Gained</th>
                    <th>Fairness</th>
                </tr>
                @if (Model.Trades != null)
                {
                    foreach (var trade in Model.Trades)
                    {
                        <tr>
                            <td>
                                @foreach (var player in trade.MyPlayers)
                                {
                                    <div>@(player.Name + " (" + player.TradeValue + ")")</div>
                                }
                            </td>
                            <td>
                                @foreach (var player in trade.TheirPlayers)
                        {
                                    <div>@(player.Name + " (" + player.TradeValue + ")")</div>
                                }
                            </td>
                            <td>@trade.MyDifferential</td>
                            <td>@trade.TheirDifferential</td>
                            <td>@trade.Fairness</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}
